{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = true %}
{% set noLogo = false %}
{% set recognition = false %}
{% set headerMenu = global.menu.page %}
{% set headerLogo = 'logo-nwea.png' %}
{% set title = "VMLY&R | NWEA WPP Awards" %}

{% block content %}
  <article class="landing-home" id="top">
    <section>
      <div class="container-xl"></div>
    </section>
  </article>
{% endblock %}
