{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = true %}
{% set noLogo = false %}
{% set recognition = false %}
{% set headerMenu = global.menu.page %}
{% set headerLogo = 'logo-nwea.png' %}
{% set title = "VMLY&R | NWEA WPP Awards" %}

{% block content %}
  <article class="landing-home" id="top">
    <section class="vg-1 md:vg-2 align-center">
      <div class="container-lg">
        <div class="cxGoal__mw vg-1 md:vg-4 md:pt-2 bg-center bg-contain bg-no-repeat mx-auto mb-3" style="background-image: url('https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/bg-intro.png');">
          <h1 class="type-base font-normal uppercase">CX Goal</h1>
          <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/handrawn-line.png" class="mb-2" alt="hand drawn purple line">
          <p>NWEA, one of the largest global educational research and Pre-K through 12 assessment organizations, wanted to transform the organization by embedding vision in its process and reimagining its internal products to dramatically accelerate its time to market and create more engaging experiences for students, teachers, and parents.</p>
        </div>
        

        <div class="row justify-center">
          <div class="col-12 md:col-3 mb-3 md:mb-0">
            <div>
              <div class="cxGoal__icon mx-auto mb-2">
                {% include "_components/figure.html" with {
                  "picture": {
                    "altText": "Eye icon",
                    "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/vision-eye-icon.png",
                    "placeholderSize": "296 224",
                    "class": ""
                  }
                } %}
              </div>
              <p>Embed vision into the product development process</p>
            </div>
          </div>
          <div class="col-12 md:col-3 mb-3 md:mb-0">
            <div>
              <div class="cxGoal__icon mx-auto mb-2">
                {% include "_components/figure.html" with {
                  "picture": {
                    "altText": "list icon",
                    "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/assessment-list-icon.png",
                    "placeholderSize": "250 224",
                    "class": ""
                  }
                } %}
              </div>
              <p>Reimagine assessment creation to accelerate time to market</p>
            </div>
          </div>
          <div class="col-12 md:col-3 mb-3 md:mb-0">
            <div>
              <div class="cxGoal__icon mx-auto mb-2">
                {% include "_components/figure.html" with {
                  "picture": {
                    "altText": "list icon",
                    "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/experiences-note-icon.png",
                    "placeholderSize": "250 224",
                    "class": ""
                  }
                } %}
              </div>
              <p>Create engaging experiences for the education ecosystem</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="vg-2 bg-gray">
      <div class="container-lg">
        <div class="cxGoal__mw align-center mx-auto mb-3">
          <h1 class="type-base font-normal uppercase">Four Design Sprints</h1>
          <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/handrawn-line.png" class="mb-2" alt="hand drawn purple line">
          <p>The team led a series of four design sprints. The first, the vision sprint, focused on getting the team and organization to align on a shared vision that would serve as a North Star for the next eight years. Design sprints two through four dialed in on three key product worksteams that were key to delivering on our CX goal: Item Design, Test Construction, and Data & Tools. While the intent of each sprint was slightly different, they all followed a similar structure.</p>
        </div>

        <div class="row items-center justify-center md:justify-start mb-3">
          <div class="col-10 sm:col-8 md:col-5 mb-2 md:mb-3">
            {% include "_components/figure.html" with {
              "picture": {
                "altText": "Handdrawn woman in the center of a circle with a building off to the right and a lecture to the left",
                "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four-design-education-ecosystem.png",
                "placeholderSize": "503 368",
                "class": ""
              }
            } %}
          </div>
          <div class="col-2 xs:hide sm:hide"></div>
          <div class="col-12 md:col-5 mb-3">
            <p class="type-sm font-bold">Understanding the education ecosystem</p>
            <p class="type-sm">We began each sprint by learning about our end users: students, teachers and education systems. We focused on student interviews to ensure we were always orienting work with students at the center of the story.</p>
          </div>

          <div class="col-10 sm:col-8 mb-2 md:mb-3 md:hide lg:hide xl:hide">
            {% include "_components/figure.html" with {
              "picture": {
                "altText": "2 images of stickynotes on white boards mapping a process",
                "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four-design-mapping-ecosystem.png",
                "placeholderSize": "524 391",
                "class": ""
              }
            } %}
          </div>
          <div class="col-12 md:col-5 mb-3 md:mb-2">
            <p class="type-sm font-bold">Mapping the ecosystem and defining intent</p>
            <p class="type-sm">The team began mapping the school experience by exploring the impact of instruction, learning materials, curriculum, and how it impacts the student/teacher experience. We then looked for themes that connected various ideas. We used “How might we” framing to express how we could deliver on our intent.</p>
          </div>
          <div class="col-2 xs:hide sm:hide"></div>
          <div class="col-12 md:col-5 mb-3 xs:hide sm:hide">
            {% include "_components/figure.html" with {
              "picture": {
                "altText": "Handdrawn woman in the center of a circle with a building off to the right and a lecture to the left",
                "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four-design-mapping-ecosystem.png",
                "placeholderSize": "524 391",
                "class": ""
              }
            } %}
          </div>
          
          <div class="col-10 sm:col-8 md:col-5 mb-2 md:mb-3">
            {% include "_components/figure.html" with {
              "picture": {
                "altText": "2 images of hand drawn characters and boxes with text on white boards mapping a process",
                "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four-design-creating-prototypes.png",
                "placeholderSize": "591 423",
                "class": ""
              }
            } %}
          </div>
          <div class="col-2 xs:hide sm:hide"></div>
          <div class="col-12 md:col-5 mb-3">
            <p class="type-sm font-bold">Creating storyboard prototypes</p>
            <p class="type-sm">The team collaborated to create a story arc, add explanatory details and create character dialogue that would communicate the core ideas of the sprint most effectively.</p>
          </div>

          <div class="col-10 sm:col-8 mb-2 md:mb-3 md:hide lg:hide xl:hide">
            {% include "_components/figure.html" with {
              "picture": {
                "altText": "2 women and 2 children on a zoom call",
                "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four-design-users.png",
                "placeholderSize": "415 418",
                "class": ""
              }
            } %}
          </div>
          <div class="col-12 md:col-5 mb-3 md:mb-2">
            <p class="type-sm font-bold">Mapping the ecosystem and defining intent</p>
            <p class="type-sm">The team began mapping the school experience by exploring the impact of instruction, learning materials, curriculum, and how it impacts the student/teacher experience. We then looked for themes that connected various ideas. We used “How might we” framing to express how we could deliver on our intent.</p>
          </div>
          <div class="col-2 xs:hide sm:hide"></div>
          <div class="col-12 md:col-5 mb-3 xs:hide sm:hide">
            {% include "_components/figure.html" with {
              "picture": {
                "altText": "2 women and 2 children on a zoom call",
                "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four-design-users.png",
                "placeholderSize": "415 418",
                "class": ""
              }
            } %}
          </div>
        </div>

        <div class="row row--gutter-wide">
          <div class="col-12 sm:col-3 mb-2 md:mb-0 align-center">
            <div class="mb-1">
              <div class="mb-1">
                <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/one.png" alt="one">
              </div>
              <h3 class="type-base uppercase font-bold">The Vision<br> Sprint</h3>
            </div>
            <div class="text__height">
              <p class="type-sm">Align on a vision that supports a future where we can nimbly solve partner problems and contribute to the creation of education systems that look vastly different than they do today.</p>
            </div>
            {{ button('Download Report', 'download', 'xs', true, 'https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/sprint-1.pptx', 'button--roundRectangle') }}
          </div>
          <div class="col-12 sm:col-3 mb-2 md:mb-0 align-center">
            <div class="mb-1">
              <div class="mb-1">
                <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/two.png" alt="two">
              </div>
              <h3 class="type-base uppercase font-bold">Item Design<br> Sprint</h3>
            </div>
            <div class="text__height">
              <p class="type-sm">Re-imagine the content, forms, and delivery of assessment so that students, teachers, and parents feel empowered and have a personalized experience with their educational growth.</p>
            </div>
            {{ button('Download Report', 'download', 'xs', true, 'https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/sprint-2.pptx', 'button--roundRectangle') }}
          </div>
          <div class="col-12 sm:col-3 mb-2 md:mb-0 align-center">
            <div class="mb-1">
              <div class="mb-1">
                <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/three.png" alt="three">
              </div>
              <h3 class="type-base uppercase font-bold">Test Construction<br> Sprint</h3>
            </div>
            <div class="text__height">
              <p class="type-sm">Redesign the test creation tools and processes so we can deliver a wider variety of assessment that is tailored to each student’s progress and needs.</p>
            </div>
            {{ button('Download Report', 'download', 'xs', true, 'https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/sprint-3.pptx', 'button--roundRectangle') }}
          </div>
          <div class="col-12 sm:col-3 mb-2 md:mb-0 align-center">
            <div class="mb-1">
              <div class="mb-1">
                <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/four.png" alt="four">
              </div>
              <h3 class="type-base uppercase font-bold">Data & Tools<br> Sprint</h3>
            </div>
            <div class="text__height">
              <p class="type-sm">Increase our understanding of teaching and learning, in a world that constantly shifts, so that we can make precise and actionable recommendations.</p>
            </div>
            {{ button('Download Report', 'download', 'xs', true, 'https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/sprint-4.pptx', 'button--roundRectangle') }}
          </div>
        </div>
      </div>
    </section>

    <section class="vg-2">
      <div class="container-lg">
        <div class="cxGoal__mw align-center mx-auto mb-3">
          <h1 class="type-base font-normal uppercase">The Results</h1>
          <img src="https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/cx-goal/handrawn-line.png" class="mb-2" alt="hand drawn purple line">
          <p>Our process and product transformation helped NWEA produce prototypes based on a shared vision and user input. The design sprints allowed the team to deliver prototypes in half the time it takes their other products.</p>
        </div>

        <div class="mb-3">
          {% include "_components/figure.html" with {
            "picture": {
              "altText": "Slides with prototypes of progam windows",
              "srcPath": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/nwea-wppawards/images/results-prototype.png",
              "placeholderSize": "1400 518",
              "class": ""
            }
          } %}
        </div>
        

        <div class="cxGoal__mw align-center mx-auto">
          <p>These prototypes were later developed into products that provide tighter collaboration between teams, the ability to deliver assessment faster, and a space for experimentation, paving the way for continued assessment innovation and an expanded assessment product offering.</p>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
