{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = true %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.page %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | Virtual Visit" %}
{% set enableLibraryPlyr = true %}

{% block content %}
  <article class="landing-home" id="top">
    <section>
      {% include "_components/intro.html" with {
        "title": "Welcome,<br> Stephan and Niel!",
        "titleAbove": "",
        "titleBelow": "",
        "bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/immersion.jpg",
        "classes": "vg-3 color-white",
        "buttons": [
          {
            "title": "Download",
            "url": "https://vmlyr.docsend.com/view/a8dfwhuzr9qehfr8 ",
            "icon": "download",
            "size": "xs",
            "newWindow": true,
            "class": "button--white",
            "heading": "October 2020 Presentation"
          }
        ]
      } %}
    </section>

    <section class="vg-2">
      <div class="container-lg">
        <h2 class="type-h3 uppercase font-light align-center mb-2">We Create Connected Brands</h2>
        <div class="mb-3">
          {% include "_components/video.html" with {
          "options": {
          "autoplay": false,
            "controls": ["play", "play-large", "progress", "current-time", "volume", "fullscreen"]
          },
          "embed": {
            "id": "378607909",
            "provider": "vimeo"
          }
        } %}
        </div>
      </div>

      <div class="container-md">
        <p class="type-sm align-center">VMLY&R thrives on creating work that brings people together, united by the power of human connection. We harness creativity, technology, and culture to create connected brands that drive value for our clients and touch lives around the world.</p>
      </div>
    </section>

    <section class="vg-2 bg-gray">
      <div class="container-lg">
        <h2 class="type-h3 uppercase font-light align-center mb-2">Client Work Showcases</h2>

        <div class="row justify-center">
          <div class="col-6 md:col-4">
            {% include "_components/spotlight.html" with {
              "title": {
                "primary": "Brand Identity",
                "sub": "Intel"
              },
              "hotspot": {
                "url": "https://vimeo.com/463583379",
                "icon": 'video',
                "isVideo": true,
              },
              "picture": {
                "altText": "intel logo",
                "id": "5jtOXNPrmU1vExQvvRgZN4",
                "placeholderSize": "600 600",
                "width": "600",
                "height": "600"
              }
            } %}
          </div>
          <div class="col-6 md:col-4">
            {% include "_components/spotlight.html" with {
              "title": {
                "primary": "Do Something Wonderful",
                "sub": "Intel"
              },
              "hotspot": {
                "url": "https://vimeo.com/463920807",
                "icon": 'video',
                "isVideo": true,
              },
              "picture": {
                "altText": "Indian teacher with children",
                "id": "7EIvYXYx2xv3xjPFh8BGq9",
                "placeholderSize": "600 600",
                "width": "600",
                "height": "600"
              }
            } %}
          </div>
          <div class="col-6 md:col-4">
            {% include "_components/spotlight.html" with {
              "title": {
                "primary": "WPP Partnership",
                "sub": "Intel"
              },
              "hotspot": {
                "url": "https://vimeo.com/463957088",
                "icon": 'video',
                "isVideo": true,
              },
              "picture": {
                "altText": "Intel chip logos with blue blocks over a gray background",
                "id": "3SagBgrEKlAMTbHuM0eaYv",
                "placeholderSize": "600 600",
                "width": "600",
                "height": "600"
              }
            } %}
          </div>
        </div>
      </div>
    </section>

    <section class="speedBump color-white">
      <ul class="row align-center list-reset mx-0">
        <li class="col-12 md:col-6 vg-3 speedBump__col">
          <h2 class="type-h2 color-cyan mb-2">What Do We<br class="xs:hide sm:hide"> Do For Ford?</h2>
        </li>
        <li class="col-12 md:col-6 vg-3 speedBump__col bg-cyan">
          <p class="type-h4 font-light color-blue mb-2">Ford Digital and CX Spotlight</p>
          {{ button('Learn More', 'return-right', 'xs', true, 'https://ford.vml-connect.com/', '') }}
        </li>
      </ul>
    </section>

    <section class="vg-2">
      <div class="container-lg">
        <div class="row justify-center">
          <div class="col-6 md:col-4">
            {% include "_components/spotlight.html" with {
              "title": {
                "primary": "Laugh Tracker",
                "sub": "Tennessee Department of Tourist Development"
              },
              "hotspot": {
                "url": "https://vimeo.com/411507593",
                "icon": 'video',
                "isVideo": true,
              },
              "picture": {
                "altText": "Laugh emoji with hahaha text in the background",
                "id": "57YdWC8mbg3ksZdL0zb1cU",
                "placeholderSize": "600 600",
                "width": "600",
                "height": "600"
              }
            } %}
          </div>
          <div class="col-6 md:col-4">
            {% include "_components/spotlight.html" with {
              "title": {
                "primary": "Digital Transformation",
                "sub": "United Rentals"
              },
              "hotspot": {
                "url": "https://vimeo.com/395984005",
                "icon": 'video',
                "isVideo": true,
              },
              "picture": {
                "altText": "Airport under construction",
                "id": "zmhBMx5mKskyiIicaMGC6",
                "placeholderSize": "600 600",
                "width": "600",
                "height": "600"
              }
            } %}
          </div>
          <div class="col-6 md:col-4">
            {% include "_components/spotlight.html" with {
              "title": {
                "primary": "6 Degrees",
                "sub": "Tennessee Department of Tourist Development"
              },
              "hotspot": {
                "url": "https://vimeo.com/372753134",
                "icon": 'video',
                "isVideo": true,
              },
              "picture": {
                "altText": "Elvis reaching into crowd's hands",
                "id": "5CG2seFUsfD2sTiedccDIZ",
                "placeholderSize": "600 600",
                "width": "600",
                "height": "600"
              }
            } %}
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
