// ================================
// Views
// ================================

.paddingBt-50 {
  padding-bottom: rem(50px);
}

.paddingTp-110 {
  padding-top: rem(95px);
}

.paddingBt-110 {
  padding-bottom: rem(95px);
}

.paddingBt-120 {
  padding-bottom: rem(120px);
}

.typeSize-base {
  font-size: rem(17px);

  @include media('>=md') {
    font-size: rem(20px);
  }
}

.typeSize-xl {
  font-size: rem(25px);

  @include media('>=md') {
    font-size: rem(31px);
  }
}

.intro__pt {
  padding-top: rem(100px);

  @include media('>=md') {
    padding-top: rem(210px) !important;
  }
}

.intro__pb {
  padding-bottom: rem(150px) !important;
}

.intro__mw {
  max-width: rem(320px);

  @include media('>=md') {
    max-width: rem(450px);
  }

  @include media('>=lg') {
    max-width: rem(680px);
  }
}

.hr__mw {
  max-width: rem(110px);
}

.section__shiftUp {
  @include media('>=md') {
    margin-top: rem(-30px);
  }

  @include media('>=lg') {
    margin-top: rem(-50px);
  }
}

.business__img {
  @include media('>=md') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: rem(500px);
  }

  @include media('>=lg') {
    max-width: rem(600px);
  }

  @include media('>=xl') {
    max-width: rem(660px);
  }
}

.quote__border {
  border: 1px solid setcolor(blue);
  border-width: 0 2px 2px;

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 2px;
    background: setcolor(blue);
    display: block;
    width: 30%;
  }

  @include media('>=md') {
    &::before,
    &::after {
      width: 40%;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.quote__padding {
  padding-left: rem(20px);
  padding-right: rem(20px);
}

.quote__heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote__text {
  @include media('>=md') {
    max-width: rem(780px);
    margin: 0 auto;
  }
}

.quote__textWide {
  @include media('>=md') {
    max-width: rem(900px);
    margin: 0 auto;
  }
}

.content__mw {
  @include media('>=md') {
    max-width: rem(350px);
  }

  @include media('>=lg') {
    max-width: rem(440px);
  }
}

.experience__shiftUp {
  @include media('>=md') {
    margin-top: rem(-115px);
  }
}

.footer__text {
  margin-bottom: rem(5px);
}

.carousel__noMB {
  .carousel {
    .tns-outer {
      margin-bottom: 0;
    }
  }
}
